mbsp/mbsportal-services/mbs-portal-ecf/src/main/xsd/ods/v2.x/v3/ODS-v2.x_2.1.0.Base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Robert Madrid (FANNIE MAE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://www.fanniemae.com/enterprisedata/core/subjectarea/security/base/v2.1.0" xmlns:st="http://www.fanniemae.com/enterprisedata/core/subjectarea/security/simpleTypes/v2.1.0" targetNamespace="http://www.fanniemae.com/enterprisedata/core/subjectarea/security/base/v2.1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.x">
	<xs:import namespace="http://www.fanniemae.com/enterprisedata/core/subjectarea/security/simpleTypes/v2.1.0" schemaLocation="ODS-v2.x_2.1.0.SimpleTypes.xsd"/>
	<xs:complexType name="TransactionAgreement">
		<xs:sequence>
			<xs:element name="transactionAgreementTypeCode" type="xs:string"/>
			<xs:element name="transactionBuySellCode" type="xs:string"/>
			<xs:element name="transactionAgreementPricePercent" type="st:Decimal139"/>
			<xs:element name="transactionAgreementAmount" type="st:Decimal202"/>
			<xs:element name="transactionAgreementParty" type="base:TransactionAgreementParty" minOccurs="0" maxOccurs="200000"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradeAlternateIdentifier">
		<xs:sequence>
			<xs:element name="sourceSequenceNumber" type="xs:int"/>
			<xs:element name="alternateId" type="xs:string"/>
			<xs:element name="alternateIdName" type="xs:string" minOccurs="0"/>
			<xs:element name="sourceId" type="xs:string"/>
			<xs:element name="sourceTypeCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradeAttribute">
		<xs:sequence>
			<xs:element name="tradeAttributeId" type="xs:long"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="operatorCode" type="xs:string"/>
			<xs:element name="value" type="xs:string"/>
			<xs:element name="dataTypeCode" type="xs:string"/>
			<xs:element name="typeCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradeComment">
		<xs:sequence>
			<xs:element name="sequenceNumber" type="xs:int"/>
			<xs:element name="comment" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradePayment">
		<xs:sequence>
			<xs:element name="principalAmount" type="st:Decimal202" minOccurs="0"/>
			<xs:element name="interestAmount" type="st:Decimal202" minOccurs="0"/>
			<xs:element name="feeAmount" type="st:Decimal202" minOccurs="0"/>
			<xs:element name="feeTypeCode" type="xs:string" minOccurs="0"/>
			<xs:element name="tradeCommissions" type="base:TradeCommission" minOccurs="0" maxOccurs="200000"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradeCommission">
		<xs:sequence>
			<xs:element name="commissionId" type="xs:long"/>
			<xs:element name="amount" type="st:Decimal202"/>
			<xs:element name="typeCode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradeStipulation">
		<xs:sequence>
			<xs:element name="tradeStipulationId" type="xs:long"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="operationTypeCode" type="xs:string"/>
			<xs:element name="stipulationValue" type="xs:string"/>
			<xs:element name="dataTypeCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradeAccounting">
		<xs:sequence>
			<xs:element name="tradeBookIntentTypeCode" type="xs:string" minOccurs="0"/>
			<xs:element name="tradeTaxIntentTypeCode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradeParty">
		<xs:sequence>
			<xs:element name="partyId" type="xs:long"/>
			<xs:element name="enterprisePartyId" type="xs:long"/>
			<xs:element name="partyShortName" type="xs:string"/>
			<xs:element name="partyRoleTypeCode" type="xs:string"/>
			<xs:element name="sourceId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionAgreementParty">
		<xs:sequence>
			<xs:element name="partyId" type="xs:long"/>
			<xs:element name="partyRoleTypeCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradeBalance">
		<xs:sequence>
			<xs:element name="openBalanceAmount" type="st:Decimal202"/>
			<xs:element name="earlyFundingAllocatedAmount" type="st:Decimal202"/>
			<xs:element name="nonEarlyFundingAllocatedAmount" type="st:Decimal202"/>
			<xs:element name="nettedAmount" type="st:Decimal202"/>
			<xs:element name="poolNettedAmount" type="st:Decimal202"/>
			<xs:element name="toBeAnnouncedPairoffAmount" type="st:Decimal202"/>
			<xs:element name="poolPairOffAmount" type="st:Decimal202"/>
			<xs:element name="earlyFundingSettledAmount" type="st:Decimal202"/>
			<xs:element name="toBeAnnouncedRepriceAmount" type="st:Decimal202"/>
			<xs:element name="nonEarlyFundingSettledAmount" type="st:Decimal202"/>
			<xs:element name="contractualUnsettledBalanceAmount" type="st:Decimal202"/>
			<xs:element name="unsettledBalanceAmount" type="st:Decimal202"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradeProduct">
		<xs:sequence>
			<xs:element name="securityCategoryTypeCode" type="xs:string"/>
			<xs:element name="securityIssuerCode" type="xs:string"/>
			<xs:element name="collateralHousingTypeCode" type="xs:string"/>
			<xs:element name="financialInstrumentInterestBehaviorCode" type="xs:string"/>
			<xs:element name="financialInstrumentMaturityTerm" type="xs:integer"/>
			<xs:element name="shortDescription" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Trade">
		<xs:complexContent>
			<xs:extension base="base:TransactionAgreement">
				<xs:sequence>
					<xs:element name="sourceId" type="xs:string"/>
					<xs:element name="subPortfolioId" type="xs:long"/>
					<xs:element name="sourcePrimaryTradeId" type="xs:long"/>
					<xs:element name="subPortfolioShortName" type="xs:string"/>
					<xs:element name="sourceVersionNumber" type="xs:int"/>
					<xs:element name="odsVersionNumber" type="xs:int"/>
					<xs:element name="odsTransactionTypeCode" type="xs:string"/>
					<xs:element name="primaryTransactionTypeCode" type="xs:string"/>
					<xs:element name="secondaryTransactionTypeCode" type="xs:string" minOccurs="0"/>
					<xs:element name="buySellCode" type="xs:string"/>
					<xs:element name="toBeAnnouncedStipulatedSpecifiedCode" type="xs:string"/>
					<xs:element name="executionTypeCode" type="xs:string"/>
					<xs:element name="nettingParticipationLevelTypeCode" type="xs:string"/>
					<xs:element name="securityDollarRollLegTypeCode" type="xs:string" minOccurs="0"/>
					<xs:element name="currencyTypeCode" type="xs:string"/>
					<xs:element name="productCusipId" type="xs:string" minOccurs="0"/>
					<xs:element name="cusipTypeCode" type="xs:string" minOccurs="0"/>
					<xs:element name="TradeProduct" type="base:TradeProduct" minOccurs="0" maxOccurs="1"/>
					<xs:element name="tbaCusipId" type="xs:string" minOccurs="0"/>
					<xs:element name="pricePercent" type="st:Decimal139"/>
					<xs:element name="couponRate" type="st:Decimal143"/>
					<xs:element name="variancePercent" type="st:Decimal143" minOccurs="0"/>
					<xs:element name="tradeDate" type="xs:date"/>
					<xs:element name="settlementDate" type="xs:date"/>
					<xs:element name="optionEffectiveDate" type="xs:date" minOccurs="0"/>
					<xs:element name="optionExpirationDate" type="xs:date" minOccurs="0"/>
					<xs:element name="amount" type="st:Decimal202"/>
					<xs:element name="currentFaceAmount" type="st:Decimal202"/>
					<xs:element name="TradeParty" type="base:TradeParty" minOccurs="1" maxOccurs="1"/>
					<xs:element name="approvedUnderDeliveryAmount" type="st:Decimal202" minOccurs="0"/>
					<xs:element name="approvedOverDeliveryAmount" type="st:Decimal202" minOccurs="0"/>
					<xs:element name="TradeBalance" type="base:TradeBalance" minOccurs="0" maxOccurs="1"/>
					<xs:element name="TradePayment" type="base:TradePayment" minOccurs="0" maxOccurs="1"/>
					<xs:element name="confirmationStateCode" type="xs:string"/>
					<xs:element name="settlementStateCode" type="xs:string"/>
					<xs:element name="contractualSettlementStateCode" type="xs:string"/>
					<xs:element name="tradeAssignmentIndicator" type="xs:string"/>
					<xs:element name="TradeAttributes" type="base:TradeAttribute" minOccurs="0" maxOccurs="200000"/>
					<xs:element name="TradeStipulations" type="base:TradeStipulation" minOccurs="0" maxOccurs="200000"/>
					<xs:element name="TradeAccounting" type="base:TradeAccounting" minOccurs="0" maxOccurs="1"/>
					<xs:element name="traderInitialsText" type="xs:string" minOccurs="0"/>
					<xs:element name="TradeComments" type="base:TradeComment" minOccurs="0" maxOccurs="200000"/>
					<xs:element name="settlementLocation" type="xs:string" minOccurs="0"/>
					<xs:element name="TradeAlternateIdentifiers" type="base:TradeAlternateIdentifier" minOccurs="0" maxOccurs="200000"/>
					<xs:element name="sourceTransactionEntryDate" type="xs:dateTime"/>
					<xs:element name="sourceTransactionEntryUserId" type="xs:string"/>
					<xs:element name="sourceTransactionLastUpdateDate" type="xs:dateTime" minOccurs="0"/>
					<xs:element name="sourceTransactionLastUpdateUserId" type="xs:string" minOccurs="0"/>
					<xs:element name="createdOn" type="xs:dateTime"/>
					<xs:element name="lastUpdated" type="xs:dateTime"/>
					<xs:element name="logicalDeleteIndicator" type="st:YNIndicator"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FinancialExpectationAlternateIdentifier">
		<xs:sequence>
			<xs:element name="sequenceNumber" type="xs:int"/>
			<xs:element name="alternateId" type="xs:string"/>
			<xs:element name="alternateIdName" type="xs:string"/>
			<xs:element name="sourceId" type="xs:string"/>
			<xs:element name="sourceTypeCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialExpectation">
		<xs:sequence>
			<xs:element name="sourceId" type="xs:string"/>
			<xs:element name="subPortfolioId" type="xs:long" minOccurs="0"/>
			<xs:element name="sourcePrimaryExpectationId" type="xs:long"/>
			<xs:element name="tradeSourceId" type="xs:string" minOccurs="0"/>
			<xs:element name="tradeSubPortfolioId" type="xs:long" minOccurs="0"/>
			<xs:element name="tradeSourcePrimaryTradeId" type="xs:long" minOccurs="0"/>
			<xs:element name="subPortfolioShortName" type="xs:string" minOccurs="1"/>
			<xs:element name="odsVersionNumber" type="xs:int"/>
			<xs:element name="sourceVersionNumber" type="xs:int"/>
			<xs:element name="typeCode" type="xs:string"/>
			<xs:element name="deliveryDate" type="xs:date"/>
			<xs:element name="reconciliationStateCode" type="xs:string"/>
			<xs:element name="settlementStateCode" type="xs:string"/>
			<xs:element name="settlementMethodCode" type="xs:string"/>
			<xs:element name="contractualSettlementStateCode" type="xs:string"/>
			<xs:element name="FinancialExpectationAlternateIdentifiers" type="base:FinancialExpectationAlternateIdentifier" minOccurs="0" maxOccurs="200000"/>
			<xs:element name="sourceTransactionEntryDate" type="xs:dateTime"/>
			<xs:element name="sourceTransactionEntryUserId" type="xs:string"/>
			<xs:element name="sourceTransactionLastUpdateDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="sourceTransactionLastUpdateUserId" type="xs:string" minOccurs="0"/>
			<xs:element name="createdOn" type="xs:dateTime"/>
			<xs:element name="lastUpdated" type="xs:dateTime"/>
			<xs:element name="logicalDeleteIndicator" type="st:YNIndicator"/>
			<xs:element name="eventId" type="xs:long" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashExpectation">
		<xs:complexContent>
			<xs:extension base="base:FinancialExpectation">
				<xs:sequence>
					<xs:element name="cashExpectationTypeCode" type="xs:string" minOccurs="0"/>
					<xs:element name="description" type="xs:string"/>
					<xs:element name="amount" type="st:Decimal202"/>
					<xs:element name="cashReceiptDisbursementCode" type="xs:string"/>
					<xs:element name="enterprisePartyId" type="xs:long" minOccurs="0"/>
					<xs:element name="expectedDeliveryDate" type="xs:date" minOccurs="0"/>
					<xs:element name="cashManagementAccountId" type="xs:int"/>
					<xs:element name="processingStateCode" type="xs:string"/>
					<xs:element name="globalPayPlusVersionNumber" type="xs:int" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SecurityExpectation">
		<xs:complexContent>
			<xs:extension base="base:FinancialExpectation">
				<xs:sequence>
					<xs:element name="securityCusipId" type="xs:string"/>
					<xs:element name="securityIssuerCode" type="xs:string"/>
					<xs:element name="mbsPoolId" type="xs:string" minOccurs="0"/>
					<xs:element name="securitySettlementFactor" type="st:Decimal149"/>
					<xs:element name="securityFactorDate" type="xs:date" minOccurs="0"/>
					<xs:element name="securitySendReceiveCode" type="xs:string"/>
					<xs:element name="fundingProgramCode" type="xs:string"/>
					<xs:element name="securityPieceParAmount" type="st:Decimal202"/>
					<xs:element name="securityExpectationPayment" type="base:SecurityExpectationPayment" minOccurs="0"/>
					<xs:element name="securityTotalProceedsAmount" type="st:Decimal202"/>
					<xs:element name="securitySettlementPrincipalAmount" type="st:Decimal202"/>
					<xs:element name="assetTransferDate" type="xs:date" minOccurs="0"/>
					<xs:element name="securityBookIntentTypeCode" type="xs:string" minOccurs="0"/>
					<xs:element name="securityTaxIntentTypeCode" type="xs:string" minOccurs="0"/>
					<xs:element name="netOutPricePercent" type="st:Decimal139" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SecurityExpectationPayment">
		<xs:sequence>
			<xs:element name="securityPrincipalAmount" type="st:Decimal202"/>
			<xs:element name="securityInterestAmount" type="st:Decimal202"/>
			<xs:element name="feeAmount" type="st:Decimal202"/>
			<xs:element name="feeTypeCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SecuritySettlementMessageExpectation">
		<xs:sequence>
			<xs:element name="messageReferenceId" type="xs:string"/>
			<xs:element name="financialExpectationSourceId" type="xs:string" minOccurs="1"/>
			<xs:element name="financialExpectationSubPortfolioId" type="xs:long" minOccurs="1"/>
			<xs:element name="financialExpectationSourcePrimaryExpectationId" type="xs:long" minOccurs="1"/>
			<xs:element name="messageCreationDate" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SecuritySettlementMessage">
		<xs:sequence>
			<xs:element name="messageReferenceId" type="xs:string"/>
			<xs:element name="financialExpectationSourceId" type="xs:string"/>
			<xs:element name="financialExpectationSubPortfolioId" type="xs:long"/>
			<xs:element name="financialExpectationSourcePrimaryExpectationId" type="xs:long"/>
			<xs:element name="messageSettlementTypeCode" type="xs:string"/>
			<xs:element name="messageFunctionCode" type="xs:string"/>
			<xs:element name="tradeSettlementFailureCode" type="xs:string" minOccurs="0"/>
			<xs:element name="tradeSettlementFailureDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="securityCusipId" type="xs:string"/>
			<xs:element name="securityPieceParAmount" type="st:Decimal202"/>
			<xs:element name="securityTotalProceedsAmount" type="st:Decimal202"/>
			<xs:element name="assetTransferDate" type="xs:dateTime"/>
			<xs:element name="tradeSettlementAgentId" type="xs:string"/>
			<xs:element name="tradeSettlementAgentIdTypeCode" type="xs:string"/>
			<xs:element name="securityCustodianAccountId" type="xs:string"/>
			<xs:element name="counterpartyId" type="xs:string"/>
			<xs:element name="counterpartyIdTypeCode" type="xs:string"/>
			<xs:element name="counterpartySecurityCustodianAccountId" type="xs:string" minOccurs="0"/>
			<xs:element name="messageMatchStateCode" type="xs:string"/>
			<xs:element name="messageCreationDate" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SecurityIssExpectationSettle">
		<xs:sequence>
			<xs:element name="securityIssuanceExpectationId" type="xs:string"/>
			<xs:element name="securityCusipId" type="xs:string"/>
			<xs:element name="securityIssuanceTypeCd" type="xs:string"/>
			<xs:element name="securitySendReceiveCode" type="xs:string"/>
			<xs:element name="securityIssuanceDeliveryDate" type="xs:date"/>
			<xs:element name="assetTransferDate" type="xs:dateTime" minOccurs="1"/>
			<xs:element name="securityIssuanceParQuantityAmount" type="st:Decimal202"/>
			<xs:element name="securityTotalProceedsAmount" type="st:Decimal202"/>
			<xs:element name="securityIssuanceExpectationSettlementIndicator" type="xs:string"/>
			<xs:element name="eventId" type="xs:long"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialPosition">
		<xs:sequence>
			<xs:element name="heldDate" type="xs:date"/>
			<xs:element name="sourceId" type="xs:string"/>
			<xs:element name="subPortfolioId" type="xs:long" minOccurs="0"/>
			<xs:element name="sourcePrimaryPositionId" type="xs:long"/>
			<xs:element name="subPortfolioShortName" type="xs:string" minOccurs="0"/>
			<xs:element name="securityId" type="xs:string"/>
			<xs:element name="securityCusipTypeCode" type="xs:string"/>
			<xs:element name="originalAmount" type="st:Decimal202" minOccurs="0"/>
			<xs:element name="factoredAmount" type="st:Decimal202" minOccurs="0"/>
			<xs:element name="settlementOriginalAmount" type="st:Decimal202"/>
			<xs:element name="settlementFactoredAmount" type="st:Decimal202"/>
			<xs:element name="financialInstrumentContractualSettlementDate" type="xs:date"/>
			<xs:element name="securityCustodianAccountId" type="xs:string" minOccurs="0"/>
			<xs:element name="securityPledgeIndicator" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionPosition">
		<xs:sequence>
			<xs:element name="effectiveDate" type="xs:dateTime" minOccurs="1"/>
			<xs:element name="securityCusipId" type="xs:string"/>
			<xs:element name="securityPieceParAmount" type="st:Decimal202"/>
			<xs:element name="securityCustodianAccountId" type="xs:string"/>
			<xs:element name="securityPledgeIndicator" type="xs:string"/>
			<xs:element name="securityPledgeReason" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionSettlement">
		<xs:sequence>
			<xs:element name="effectiveDate" type="xs:dateTime" minOccurs="1"/>
			<xs:element name="financialInstitutionSettlementId" type="xs:long"/>
			<xs:element name="financialExpectationSourceId" type="xs:string"/>
			<xs:element name="financialExpectationSubPortfolioId" type="xs:long"/>
			<xs:element name="financialExpectationSourcePrimaryExpectationId" type="xs:long"/>
			<xs:element name="securityCusipId" type="xs:string"/>
			<xs:element name="securityPieceParAmount" type="st:Decimal202"/>
			<xs:element name="securityTotalProceedsAmount" type="st:Decimal202"/>
			<xs:element name="assetTransferDate" type="xs:dateTime"/>
			<xs:element name="counterpartyId" type="xs:string"/>
			<xs:element name="counterpartyIdTypeCode" type="xs:string"/>
			<xs:element name="securityCustodianAccountId" type="xs:string"/>
			<xs:element name="counterpartySecurityCustodianAccountId" type="xs:string"/>
			<xs:element name="eventId" type="xs:long"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionSettlementPending">
		<xs:sequence>
			<xs:element name="effectiveDate" type="xs:dateTime" minOccurs="1"/>
			<xs:element name="financialInstitutionSettlementPendingId" type="xs:long"/>
			<xs:element name="financialExpectationSourceId" type="xs:string"/>
			<xs:element name="financialExpectationSubPortfolioId" type="xs:long"/>
			<xs:element name="financialExpectationSourcePrimaryExpectationId" type="xs:long"/>
			<xs:element name="securityCusipId" type="xs:string"/>
			<xs:element name="securityPieceParAmount" type="st:Decimal202"/>
			<xs:element name="securityTotalProceedsAmount" type="st:Decimal202"/>
			<xs:element name="counterpartyId" type="xs:string"/>
			<xs:element name="counterpartyIdTypeCode" type="xs:string"/>
			<xs:element name="securityCustodianAccountId" type="xs:string"/>
			<xs:element name="counterpartySecurityCustodianAccountId" type="xs:string"/>
			<xs:element name="tradeSettlementFailureCode" type="xs:string"/>
			<xs:element name="tradeSettlementFailureDescription" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SwiftMessageLog">
		<xs:sequence>
			<xs:element name="messageReferenceId" type="xs:string"/>
			<xs:element name="messageSettlementTypeCode" type="xs:string"/>
			<xs:element name="messageFunctionCode" type="xs:string"/>
			<xs:element name="recordCount" type="xs:long"/>
			<xs:element name="messageCreationDate" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SecurityCustodianCUSIPInventory">
		<xs:sequence>
			<xs:element name="sourceId" type="xs:string"/>
			<xs:element name="subPortfolioId" type="xs:long"/>
			<xs:element name="sourcePrimaryPositionId" type="xs:long"/>
			<xs:element name="securityCUSIPId" type="xs:string"/>
			<xs:element name="enterprisePartyId" type="xs:long"/>
			<xs:element name="securityPieceParAmount" type="st:Decimal202"/>
			<xs:element name="pledgeDate" type="xs:date"/>
			<xs:element name="maturityDate" type="xs:date" minOccurs="0"/>
			<xs:element name="createdOn" type="xs:dateTime"/>
			<xs:element name="lastUpdated" type="xs:dateTime"/>
			<xs:element name="logicalDeleteIndicator" type="st:YNIndicator"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SecurityRestriction">
		<xs:sequence>
			<xs:element name="sourceId" type="xs:string"/>
			<xs:element name="subPortfolioId" type="xs:long" minOccurs="0"/>
			<xs:element name="sourcePrimaryExpectationId" type="xs:long" minOccurs="0"/>
			<xs:element name="securityPieceParAmount" type="st:Decimal202"/>
			<xs:element name="securityCUSIPId" type="xs:string"/>
			<xs:element name="htrRestrictionCode" type="xs:string" minOccurs="0"/>
			<xs:element name="otherRestrictionCode" type="xs:string" minOccurs="0"/>
			<xs:element name="sourceShortName" type="xs:string"/>
			<xs:element name="createdOn" type="xs:dateTime"/>
			<xs:element name="lastUpdated" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Group">
		<xs:sequence>
			<xs:element name="groupId" type="xs:long"/>
			<xs:element name="versionNumber" type="xs:int"/>
			<xs:element name="typeCode" type="xs:string"/>
			<xs:element name="description" type="xs:string"/>
			<xs:element name="stateCode" type="xs:string"/>
			<xs:element name="createdOn" type="xs:dateTime"/>
			<xs:element name="lastUpdated" type="xs:dateTime"/>
			<xs:element name="logicalDeleteIndicator" type="st:YNIndicator"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupAssociation">
		<xs:sequence>
			<xs:element name="groupId" type="xs:long"/>
			<xs:element name="relatedGroupId" type="xs:long" minOccurs="0"/>
			<xs:element name="description" type="xs:string"/>
			<xs:element name="amount" type="st:Decimal202"/>
			<xs:element name="createdOn" type="xs:dateTime"/>
			<xs:element name="lastUpdated" type="xs:dateTime"/>
			<xs:element name="logicalDeleteIndicator" type="st:YNIndicator"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradeGroupAssociation">
		<xs:complexContent>
			<xs:extension base="base:GroupAssociation">
				<xs:sequence>
					<xs:element name="tradeSourceId" type="xs:string" minOccurs="1"/>
					<xs:element name="tradeSubPortfolioId" type="xs:long" minOccurs="1"/>
					<xs:element name="tradeSourcePrimaryTradeId" type="xs:long" minOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FinancialExpectationGroupAssociation">
		<xs:complexContent>
			<xs:extension base="base:GroupAssociation">
				<xs:sequence>
					<xs:element name="financialExpectationSourceId" type="xs:string" minOccurs="1"/>
					<xs:element name="financialExpectationSubPortfolioId" type="xs:long" minOccurs="1"/>
					<xs:element name="financialExpectationSourcePrimaryExpectationId" type="xs:long" minOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TransactionAgreementGroupAssociation">
		<xs:complexContent>
			<xs:extension base="base:GroupAssociation">
				<xs:sequence>
					<xs:element name="effectiveDate" type="xs:date"/>
					<xs:element name="expirationDate" type="xs:date"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FinancialExpectationGroup">
		<xs:complexContent>
			<xs:extension base="base:Group">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TransactionAgreementGroup">
		<xs:complexContent>
			<xs:extension base="base:Group">
				<xs:sequence>
					<xs:element name="effectiveDate" type="xs:date"/>
					<xs:element name="expirationDate" type="xs:date"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TradeGroup">
		<xs:complexContent>
			<xs:extension base="base:Group">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AssetSourceReference">
		<xs:sequence>
			<xs:element name="assetId" type="xs:string"/>
			<xs:element name="assetName" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubPortfolio">
		<xs:sequence>
			<xs:element name="subPortfolioId" type="xs:long"/>
			<xs:element name="shortName" type="xs:string"/>
			<xs:element name="longName" type="xs:string"/>
			<xs:element name="groupName" type="xs:string"/>
			<xs:element name="typeName" type="xs:string"/>
			<xs:element name="custondianAccountId" type="xs:string"/>
			<xs:element name="custodianName" type="xs:string"/>
			<xs:element name="currencyTypeCode" type="xs:string"/>
			<xs:element name="governmentCountryCode" type="xs:string"/>
			<xs:element name="investmentTypeDescription" type="xs:string"/>
			<xs:element name="legalStructureDescription" type="xs:string"/>
			<xs:element name="managerName" type="xs:string"/>
			<xs:element name="cuspidId" type="xs:string"/>
			<xs:element name="geographicLocationAddressStateCode" type="xs:string"/>
			<xs:element name="federalTaxIdentificationNumer" type="xs:string"/>
			<xs:element name="effectiveDate" type="xs:dateTime"/>
			<xs:element name="expirationDate" type="xs:dateTime"/>
			<xs:element name="eventId" type="xs:long"/>
			<xs:element name="SubPortfolioAlternateAccounts" type="base:SubPortfolioAlternateAccount" minOccurs="0" maxOccurs="200000"/>
			<xs:element name="SubPortfolioIndexes" type="base:SubPortfolioIndex" minOccurs="0" maxOccurs="200000"/>
			<xs:element name="SubPortfolioGroups" type="base:SubPortfolioGroup" minOccurs="0" maxOccurs="200000"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubPortfolioAlternateAccount">
		<xs:sequence>
			<xs:element name="alternateIdentifier" type="xs:string"/>
			<xs:element name="alternateShortName" type="xs:string"/>
			<xs:element name="alternateTypeCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubPortfolioIndex">
		<xs:sequence>
			<xs:element name="indexName" type="xs:string"/>
			<xs:element name="indexTypeName" type="xs:string"/>
			<xs:element name="indexDescription" type="xs:string"/>
			<xs:element name="indexCUSIP" type="xs:string"/>
			<xs:element name="indexPriority" type="xs:long"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubPortfolioGroup">
		<xs:sequence>
			<xs:element name="groupId" type="xs:long"/>
			<xs:element name="groupName" type="xs:string"/>
			<xs:element name="groupFullName" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Strategy">
		<xs:sequence>
			<xs:element name="strategyId" type="xs:long"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="description" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OdsCode">
		<xs:sequence>
			<xs:element name="code" type="xs:string"/>
			<xs:element name="codeName" type="xs:string"/>
			<xs:element name="description" type="xs:string"/>
			<xs:element name="effectiveDate" type="xs:dateTime"/>
			<xs:element name="expirationDate" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FannieMaeAccountCrossReference">
		<xs:sequence>
			<xs:element name="securityCustodianAccountId" type="xs:string"/>
			<xs:element name="tradeSubPortfolioId" type="xs:long"/>
			<xs:element name="depositoryInstitutionSubAccountId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party">
		<xs:sequence>
			<xs:element name="partyId" type="xs:long"/>
			<xs:element name="partyShortName" type="xs:string"/>
			<xs:element name="partyFullName" type="xs:string"/>
			<xs:element name="partyRoleTypeCode" type="xs:string"/>
			<xs:element name="partyTypeCode" type="xs:string"/>
			<xs:element name="partyAlternateIdentifier" type="base:PartyAlternateIdentifier" minOccurs="0" maxOccurs="200000"/>
			<xs:element name="createdOn" type="xs:dateTime"/>
			<xs:element name="lastUpdated" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyAlternateIdentifier">
		<xs:sequence>
			<xs:element name="partyAlternateId" type="xs:string"/>
			<xs:element name="partyAlternateIdName" type="xs:string"/>
			<xs:element name="partyAlternateIdTypeCode" type="xs:string"/>
			<xs:element name="createdOn" type="xs:dateTime"/>
			<xs:element name="lastUpdated" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductIntent">
		<xs:sequence>
			<xs:element name="productIntentId" type="xs:string"/>
			<xs:element name="productSourceSecurityGroupType" type="xs:string" minOccurs="0"/>
			<xs:element name="productSourceSecurityType" type="xs:string" minOccurs="0"/>
			<xs:element name="securityCategoryTypeCode" type="xs:string"/>
			<xs:element name="securityIssuerCode" type="xs:string"/>
			<xs:element name="collateralHousingTypeCode" type="xs:string"/>
			<xs:element name="financialInstrumentInterestBehaviorCode" type="xs:string"/>
			<xs:element name="interestOnlyIndicator" type="st:YNIndicator"/>
			<xs:element name="securityBookIntentTypeCode" type="xs:string"/>
			<xs:element name="productIntentRecordStateCode" type="xs:string"/>
			<xs:element name="createdOn" type="xs:dateTime"/>
			<xs:element name="lastUpdated" type="xs:dateTime"/>
			<xs:element name="lastUpdatedBy" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Event">
		<xs:sequence>
			<xs:element name="eventId" type="xs:long"/>
			<xs:element name="typeCode" type="xs:string"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="comment" type="xs:string" minOccurs="0"/>
			<xs:element name="effectiveDate" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FannieMaeSubPortfolioReference">
		<xs:sequence>
			<xs:element name="subPortfolioGroupName" type="xs:string"/>
			<xs:element name="subPortfolioShortName" type="xs:string"/>
			<xs:element name="subPortfolioDescription" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<!-- This is used for Exceptions -->
	<xs:complexType name="SODSException">
		<xs:sequence>
			<xs:element name="exceptionId" type="xs:long"/>
			<xs:element name="stateCode" type="xs:string" minOccurs="0"/>
			<xs:element name="typeCode" type="xs:integer" minOccurs="0"/>
			<xs:element name="messageText" type="xs:string"/>
			<xs:element name="description" type="xs:string"/>
			<xs:element name="comments" type="xs:string"/>
			<xs:element name="processId" type="xs:long"/>
			<xs:element name="odsVersionNumber" type="xs:int"/>
			<xs:element name="createdBy" type="xs:string"/>
			<xs:element name="createdOn" type="xs:dateTime"/>
			<xs:element name="lastUpdated" type="xs:dateTime"/>
			<xs:element name="lastUpdatedBy" type="xs:string"/>
			<xs:element name="exceptionImpactedEntity" type="base:SODSExceptionImpactedEntity"  maxOccurs="200000"/>			
		</xs:sequence>
	</xs:complexType>
		<xs:complexType name="SODSExceptionImpactedEntity">
		<xs:sequence>
			<xs:element name="impactedRecordId" type="xs:long"/>
			<xs:element name="impactedTableName" type="xs:string" />
			<xs:element name="impactedColumnName" type="xs:string"/>
			<xs:element name="odsVersionNumber" type="xs:int"/>
			<xs:element name="createdBy" type="xs:string"/>
			<xs:element name="createdOn" type="xs:dateTime"/>
			<xs:element name="lastUpdated" type="xs:dateTime"/>
			<xs:element name="lastUpdatedBy" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
