mbsp/mbsportal-services/mbs-portal-calendar-schema/src/main/resources/EnterpriseCalendarService_v1.wsdl

<wsdl:definitions name="Untitled" targetNamespace="http://www.fanniemae.com/services/wsdl/enterpriseCalendarServiceConcrete_v1.0" xmlns:ns0="http://www.fanniemae.com/services/enterpriseCalendarService_v1.0" xmlns:ns1="http://www.fanniemae.com/services/enterpriseCalendarServiceFault_v1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.fanniemae.com/services/wsdl/enterpriseCalendarServiceConcrete_v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.fanniemae.com/services/enterpriseCalendarServiceFault_v1.0" version="1.0" xmlns="http://www.fanniemae.com/services/enterpriseCalendarServiceFault_v1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="CalendarServiceFault">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Fault">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="FaultCode" type="xs:string"/>
                                    <xs:element name="FaultDescription" type="xs:string"/>
                                    <xs:element minOccurs="0" name="Params">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element maxOccurs="5" minOccurs="0" name="Param" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.fanniemae.com/services/enterpriseCalendarService_v1.0" xmlns="http://www.fanniemae.com/services/enterpriseCalendarService_v1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="CalendarService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:CalendarServiceRequest"/>
                        <xs:element ref="ns0:CalendarServiceResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CalendarServiceRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="ns0:GetCalendarDayRequest"/>
                        <xs:element minOccurs="0" ref="ns0:GetLastBusinessDayOfMonthRequest"/>
                        <xs:element minOccurs="0" ref="ns0:GetListOfCalendarDaysRequest"/>
                        <xs:element minOccurs="0" ref="ns0:UpdateCalendarDataRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CalendarServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="ns0:GetCalendarDayResponse"/>
                        <xs:element minOccurs="0" ref="ns0:GetLastBusinessDayOfMonthResponse"/>
                        <xs:element minOccurs="0" ref="ns0:GetListOfCalendarDaysResponse"/>
                        <xs:element minOccurs="0" ref="ns0:UpdateCalendarDataResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetCalendarDayRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="5" name="CalendarDays">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Date" type="xs:date"/>
                                    <xs:element maxOccurs="4" name="CalendarType" type="xs:string"/>
                                    <xs:element minOccurs="0" name="NumOfDaysInPastOrFuture" nillable="true" type="xs:integer"/>
                                    <xs:element minOccurs="0" name="CountByBusinessDaysInd" type="xs:boolean"/>
                                    <xs:element default="false" minOccurs="0" name="DescriptionIndicator" type="xs:boolean"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetCalendarDayResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="5" minOccurs="0" name="CalendarDays">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Date" type="xs:date"/>
                                    <xs:element name="CalendarType" type="xs:string"/>
                                    <xs:element name="DayType" type="xs:string"/>
                                    <xs:element minOccurs="0" name="EarlyCloseTime" nillable="true" type="xs:time"/>
                                    <xs:element minOccurs="0" name="HolidayDescription" type="xs:string"/>
                                    <xs:element minOccurs="0" name="DayOfWeek" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="TransactionID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetLastBusinessDayOfMonthRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Date" type="xs:date"/>
                        <xs:element maxOccurs="5" name="CalendarType" type="xs:string"/>
                        <xs:element minOccurs="0" name="NumOfDaysInPastOrFuture" nillable="true" type="xs:integer"/>
                        <xs:element default="false" minOccurs="0" name="DescriptionIndicator" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetLastBusinessDayOfMonthResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="5" minOccurs="0" name="CalendarDay">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Date" type="xs:date"/>
                                    <xs:element name="CalendarType" type="xs:string"/>
                                    <xs:element minOccurs="0" name="EarlyCloseTime" nillable="true" type="xs:time"/>
                                    <xs:element minOccurs="0" name="DayOfWeek" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="TransactionID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetListOfCalendarDaysRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="StartDate" type="xs:date"/>
                        <xs:element name="EndDate" type="xs:date"/>
                        <xs:element maxOccurs="5" name="CalendarType" type="xs:string"/>
                        <xs:element minOccurs="0" name="DayType" type="xs:string"/>
                        <xs:element default="false" minOccurs="0" name="DescriptionIndicator" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetListOfCalendarDaysResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="5" name="CalendarDays">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="NumberOfCalendarDays" type="xs:integer"/>
                                    <xs:element name="CalendarType" type="xs:string"/>
                                    <xs:element maxOccurs="5" minOccurs="0" name="ListOfDates">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element minOccurs="0" name="Date" type="xs:date"/>
                                                <xs:element minOccurs="0" name="DayType" type="xs:string"/>
                                                <xs:element minOccurs="0" name="EarlyCloseTime" type="xs:time"/>
                                                <xs:element minOccurs="0" name="HolidayDescription" type="xs:string"/>
                                                <xs:element minOccurs="0" name="DayOfWeek" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="TransactionID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateCalendarDataRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="5" minOccurs="0" name="CalendarData">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Date" type="xs:date"/>
                                    <xs:element name="CalendarType" type="xs:string"/>
                                    <xs:element name="DayType" type="xs:string"/>
                                    <xs:element name="UpdatedBy" type="xs:string"/>
                                    <xs:element name="UpdateDescription" type="xs:string"/>
                                    <xs:element minOccurs="0" name="EarlyCloseTime" nillable="true" type="xs:time"/>
                                    <xs:element minOccurs="0" name="HolidayDescription" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateCalendarDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="5" minOccurs="0" name="CalendarData">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Date" type="xs:date"/>
                                    <xs:element name="StatusUpdate" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="TransactionID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="EnterpriseCalendarService">
        <wsdl:port binding="tns:EnterpriseCalendarServicePortTypeEndpointBinding" name="EnterpriseCalendarServicePortTypeEndpoint">
            <soap:address location="https://int-webservices.acptfanniemae.com/EnterpriseCalendarService"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="EnterpriseCalendarServicePortType">
        <wsdl:operation name="opGetCalendarDay">
            <wsdl:input message="tns:GetCalendarDayRequestMsg"/>
            <wsdl:output message="tns:GetCalendarDayResponseMsg"/>
            <wsdl:fault message="tns:CalendarServiceFaultMsg" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="opUpdateCalendarData">
            <wsdl:input message="tns:UpdateCalendarDataRequestMsg"/>
            <wsdl:output message="tns:UpdateCalendarDataResponseMsg"/>
            <wsdl:fault message="tns:CalendarServiceFaultMsg" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="opGetListOfCalendarDays">
            <wsdl:input message="tns:GetListOfCalendarDaysRequestMsg"/>
            <wsdl:output message="tns:GetListOfCalendarDaysResponseMsg"/>
            <wsdl:fault message="tns:CalendarServiceFaultMsg" name="fault"/>
        </wsdl:operation>
        <wsdl:operation name="opGetLastBusinessDayOfMonth">
            <wsdl:input message="tns:GetLastBusinessDayOfMonthRequestMsg"/>
            <wsdl:output message="tns:GetLastBusinessDayOfMonthResponseMsg"/>
            <wsdl:fault message="tns:CalendarServiceFaultMsg" name="fault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EnterpriseCalendarServicePortTypeEndpointBinding" type="tns:EnterpriseCalendarServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="opGetCalendarDay">
            <soap:operation soapAction="/SharedResources/Services/EnterpriseCalendarService.serviceagent/EnterpriseCalendarServicePortTypeEndpoint/opGetCalendarDay" style="document"/>
            <wsdl:input>
                <soap:body parts="CalendarDayReq" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="CalendarDayResp" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="opUpdateCalendarData">
            <soap:operation soapAction="/SharedResources/Services/EnterpriseCalendarService.serviceagent/EnterpriseCalendarServicePortTypeEndpoint/opUpdateCalendarData" style="document"/>
            <wsdl:input>
                <soap:body parts="UpdateCalendarDataReq" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="UpdateCalendarDataResp" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="opGetListOfCalendarDays">
            <soap:operation soapAction="/SharedResources/Services/EnterpriseCalendarService.serviceagent/EnterpriseCalendarServicePortTypeEndpoint/opGetListOfCalendarDays" style="document"/>
            <wsdl:input>
                <soap:body parts="ListOfCalendarDaysReq" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="ListOfCalendarDaysResp" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="opGetLastBusinessDayOfMonth">
            <soap:operation soapAction="/SharedResources/Services/EnterpriseCalendarService.serviceagent/EnterpriseCalendarServicePortTypeEndpoint/opGetLastBusinessDayOfMonth" style="document"/>
            <wsdl:input>
                <soap:body parts="LastBusinessDayOfMonthReq" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="LastBusinessDayOfMonthResp" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="GetCalendarDayRequestMsg">
        <wsdl:part element="ns0:GetCalendarDayRequest" name="CalendarDayReq"/>
    </wsdl:message>
    <wsdl:message name="GetCalendarDayResponseMsg">
        <wsdl:part element="ns0:GetCalendarDayResponse" name="CalendarDayResp"/>
    </wsdl:message>
    <wsdl:message name="CalendarServiceFaultMsg">
        <wsdl:part element="ns1:CalendarServiceFault" name="CalendarServiceFault"/>
    </wsdl:message>
    <wsdl:message name="UpdateCalendarDataRequestMsg">
        <wsdl:part element="ns0:UpdateCalendarDataRequest" name="UpdateCalendarDataReq"/>
    </wsdl:message>
    <wsdl:message name="UpdateCalendarDataResponseMsg">
        <wsdl:part element="ns0:UpdateCalendarDataResponse" name="UpdateCalendarDataResp"/>
    </wsdl:message>
    <wsdl:message name="GetListOfCalendarDaysRequestMsg">
        <wsdl:part element="ns0:GetListOfCalendarDaysRequest" name="ListOfCalendarDaysReq"/>
    </wsdl:message>
    <wsdl:message name="GetListOfCalendarDaysResponseMsg">
        <wsdl:part element="ns0:GetListOfCalendarDaysResponse" name="ListOfCalendarDaysResp"/>
    </wsdl:message>
    <wsdl:message name="GetLastBusinessDayOfMonthRequestMsg">
        <wsdl:part element="ns0:GetLastBusinessDayOfMonthRequest" name="LastBusinessDayOfMonthReq"/>
    </wsdl:message>
    <wsdl:message name="GetLastBusinessDayOfMonthResponseMsg">
        <wsdl:part element="ns0:GetLastBusinessDayOfMonthResponse" name="LastBusinessDayOfMonthResp"/>
    </wsdl:message>
</wsdl:definitions>